AGENTS.md
CLAUDE.md
.env

webscraper/api_keys.py
webscraper/__pycache__/

data_analysis_nlp/__pycache__
data_analysis_llms/__pycache__

visualizations/__pycache__/
backend/__pycache__/

data/

.vscode
.claude